.banner-container {
    display: flex;
    row-gap: 50px;

}

.banner-details {
    margin-left: 160px;
    margin-top: 100px;
}

.banner-details h1 {
    font-size: 50px;
}

.text-dream {
    background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

}

.banner-details button {
    background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
    border-radius: 8px;
    color: white;
    margin-top: 20px;
}

.banner-container img {
    width: 716px;
    height: 644px;
    margin-top: 40px;
    margin-right: 100px;
}

/*-------------------------------- Job Category List styles ----------------------------- */

.job-category-container {
    margin-top: 80px;
}

.job-category-container h2 {
    font-size: 35px;
    text-align: center;
    color: #546af7;
}

.job-category-container p {
    margin-bottom: 30px;
    text-align: center;
    /* color: #546af7 ; */
}

.category {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;


}

/* ---------------------------- Featured Jobs Styles ---------------------------- */

.featured-jobs-details{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 20px;
    justify-items: center;
    
}